* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    background-color: #f0f0f0;
}

.table-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

table, .nav-container {
    border-collapse: collapse;
    width: 1000px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container{
  display: flex;
  align-items: center;
  height: 10vh;
  min-height: 70px;
  margin: 20px;
}

table th{
    padding: 12px;
    text-align: left;
}

table td {
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

h1 {
    position: sticky;
    text-align: center;
    font-size: 50px;
    margin: 20px;
}


.btn-create {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: #3498db;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease;
}

.btn-create:hover {
  color: #2980b9;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-read:hover {
  background-color: #115380;
}
.btn-read{
  background-color: #3498db;
}

.btn-update:hover {
  background-color: #047937;
}
.btn-update{
  background-color: #1cbd62;
}

.btn-delete:hover {
  background-color: #a80208;
}
.btn-delete{
  background-color: #e61236;
}

.hide{
    display: none;
}

.small-modal{
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #1c9f55;
}

.detail-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60vw;
  max-height: 70vh;
  min-width: 600px;
  padding: 10px;
  border: 5px solid rgba(128, 128, 128, 0.285);
  border-radius: 10px;
  background-color: #dddddd;
  z-index: 20;

}

.book-summary{
    margin: 20px;
}

.btn-close{
    z-index: 20;
    border: none;
    cursor: pointer;
}

label{
    margin-left: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #b9b7b7;
  color: white;
}

.round {
  border-radius: 50%;
}

.pages-btn-container{
  position: sticky;
  top: 0px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.modes-container{
  margin-left: auto;
  margin-right: 20px;
}